<form novalidate #f="ngForm">
</form>
  <!--<div class="panel panel-body">
  </div>-->
<!--<div class="panel-body">
      <p>
        <label class="insured-caption">Effective Date:</label>
        <input type="date" formControlName="policy.effectiveDate" />
      </p>

  <p>
    <label class="insured-caption">Expiration Date:</label>
    <input type="date" formControlName="policy.expirationDate" />
  </p>
</div>-->
<!--<div class="panel-body">
  <div class="insured-caption">Primary Insured:</div>
  <p>{{policy?.primaryInsured?.givenName}} {{policy?.primaryInsured?.familyName}}</p>
  <p>{{policy?.primaryInsured?.streetAddress}}</p>
  <p>{{policy?.primaryInsured?.city}}</p>
  <p>{{policy?.primaryInsured?.state}} {{policy?.primaryInsured?.zip}}</p>
</div>

<div class="panel-body" id="risk-detail">
  <div class="insured-caption">Risk: </div>
  <p>{{policy?.risk?.constructionName}} constructed in {{policy?.risk?.yearBuilt | date: 'yyyy'}}</p>
  <p>{{policy?.risk?.streetAddress}}</p>
  <p>{{policy?.risk?.city}}</p>
  <p>{{policy?.risk?.state}} {{policy?.risk?.zip}}</p>
</div>
-->
<!--<div class="panel-body">
  <p>
    <button type="submit" [disabled]="!form.valid">Add Policy</button>
  </p>
  <p><a [routerLink]="['/policies']">All Policies</a></p>
</div>-->
