<div class="panel-group panel-info">
  <div class="panel-heading">
    Add Policy
  </div>
  <form #f="ngForm" (ngSubmit)="putPolicy(f.value)">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <label>Effective Date</label>
          <input type="date" name="effectiveDate" [ngModel]="policy.effectiveDate" />
        </p>

        <p>
          <label>Expiration Date</label>
          <input type="date" name="expirationDate" [ngModel]="policy.expirationDate" />
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Insured
      </div>
      <div class="panel-body" ngModelGroup="primaryInsured">
        <p>
          <label>Given Name</label>
          <input type="text" name="givenName" [ngModel]="policy.primaryInsured.givenName" />
          <label>Family Name</label>
          <input type="text" name="familyName" [ngModel]="policy.primaryInsured.familyName" />
        </p>
        <p>
          <label>Street</label>
          <input type="text" name="streetAddress" [ngModel]="policy.primaryInsured.streetAddress" />
          <label>City</label>
          <input type="text" name="city" [ngModel]="policy.primaryInsured.city" />
          <label>State</label>
          <input type="text" name="state" [ngModel]="policy.primaryInsured.state" />
          <label>Zip</label>
          <input type="number" name="zip" [ngModel]="policy.primaryInsured.zip" />
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Risk
      </div>
      <div class="panel-body" ngModelGroup="risk">
        <p>
          <label>Construction</label>
          <select name="construction" [(ngModel)]="policy.risk.construction">
            <option *ngFor="let c of metadata.constructionTypes" [ngValue]="c.value">{{c.key}}</option>
          </select>
          <label>Year Built</label>
          <input type="number" name="yearBuilt" [ngModel]="policy.risk.yearBuilt" />
        </p>
        <p>
          <label>Street</label>
          <input type="text" name="streetAddress" [ngModel]="policy.risk.streetAddress" />
          <label>City</label>
          <input type="text" name="city" [ngModel]="policy.risk.city" />
          <label>State</label>
          <input type="text" name="state" [ngModel]="policy.risk.state" />
          <label>Zip</label>
          <input type="number" name="zip" [ngModel]="policy.risk.zip" />
        </p>
      </div>
    </div>
    <div class="panel-body">
      <p>
        <button type="submit" [disabled]="!f.valid">Add Policy</button>
      </p>
    </div>
  </form>
</div>
