<div class="panel-group panel-info">
  <div class="panel-heading">
    Add Policy
  </div>
  <form #f="ngForm">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <label>Effective Date:</label>
          <input type="date" name="effectiveDate" [ngModel]="policy.effectiveDate" />
        </p>

        <p>
          <label>Expiration Date:</label>
          <input type="date" name="expirationDate" [ngModel]="policy.expirationDate" />
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Insured
      </div>
      <div class="panel-body">
        <p>
          <label>Given Name</label>
          <input type="text" name="givenName" [ngModel]="policy.primaryInsured.givenName" />
          <label>Family Name</label>
          <input type="text" name="familyName" [ngModel]="policy.primaryInsured.familyName" />
        </p>
        <p>
          <label>Street</label>
          <input type="text" name="streetAddress" [ngModel]="policy.primaryInsured.streetAddress" />
          <label>City</label>
          <input type="text" name="city" [ngModel]="policy.primaryInsured.city" />
          <label>State</label>
          <input type="text" name="city" [ngModel]="policy.primaryInsured.city" />
          <label>Zip</label>
          <input type="number" name="zip" [ngModel]="policy.primaryInsured.zip" />
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Risk
      </div>
    </div>
  </form>
</div>
<!--<div class="panel-body">
  <div>Primary Insured:</div>
</div>

<div class="panel-body" id="risk-detail">
  <div>Risk: </div>
  <p>{{policy?.risk?.constructionName}} constructed in {{policy?.risk?.yearBuilt | date: 'yyyy'}}</p>
  <p>{{policy?.risk?.streetAddress}}</p>
  <p>{{policy?.risk?.city}}</p>
  <p>{{policy?.risk?.state}} {{policy?.risk?.zip}}</p>
</div>
-->
<!--<div class="panel-body">
  <p>
    <button type="submit" [disabled]="!form.valid">Add Policy</button>
  </p>
</div>-->
